# One event URL per line. Lines beginning with # are ignored.
# Supports full URLs or bare handles.
https://withjoy.com/angela-and-daniel-sep-26/edit
https://withjoy.com/rebecca-and-christopher-aug-26/edit
